extends layout
block headScripts
  script(src='/javascripts/info.js')
  link(rel='stylesheet', href='stylesheets/info.css')

block mainContainer
    .mainInfo
        .elementImage
          img(class='infoImage', src=data.imageLink)
        a#likebtn(href="#" type="button")
          i(class="fa fa-thumbs-up fa-lg")
        a#favbtn(href="#" type="button")
          i(class="fa fa-star fa-lg")
        h3 #{data.elementName} 
        .metaData
          h4 #{data.artist} 
          h4 #{data.year}
        
    .extraInfo
        h3 About
        p #{data.description}

        .infoControls
            a.button(id='nextCheckInButton',href='checkin') Check-Out
            a.button(id='endTourButton', href='index') End Tour
  
