extends layout
block headScripts
  script(src='/javascripts/info.js')

block mainContainer
    .header
        div(id='header', class='artifact')
          img(class='infoImage', src=data.imageLink)
          h4 #{data.elementName} 
          h4 Artist: #{data.artist} 
          h4 Created: #{data.year}
    .infobutton
        div(id='infobutton')
            img(id='likebtn',src='../images/like.png' align='left' width='10%')
            img(id='favbtn', src='../images/fav.png' align='right' width='11%')
            br  
            br     
            hr


        .upcoming
            #signupbox
                .boxSignup
                    h5.accordion-toggle Additional Information

                    .accordion-content.default
                       p   #{data.description}

        .planVisit
            a.button(id='nextCheckInButton',href='checkin') Next Check-In
            a.button(href='index') End Tour
  
