.alignSearch
	.dateRange
		input(type='text', class='datePicker', id='date_1')
		p to
		input(type='text', class='datePicker', id='date_2')
	.alignBarRight
		.searchBar
			input(id='searchBar', placeholder='Search Exhibits')
.alignFilters
	.horizAlign
		.left-align
			.titleHead
				h4 Filters
			.filters
				div(class='.btn-group-vertical')
					div(class='dropdown .btn-group-vertical')
						button(class='btn btn-default dropdown-toggle ', type="button", data-toggle="dropdown", id='gender') Gender
						ul(class='dropdown-menu gender')
							li
								a(href='#') None
							each gen in gender
								li
									a(href='#', id='gentag_'+gen.gender) #{gen.genderDesc}
					div(class='dropdown .btn-group-vertical')
						button(class='btn btn-default dropdown-toggle ', type="button", data-toggle="dropdown", id='age') Age Range
						ul(class='dropdown-menu age')
							li
								a(href='#') None
							each age in ageRange
								li
									a(href='#', id='agetag_'+age.ageRange) #{age.ageRangeDesc}
					div(class='checkboxContainer')
						label.checkBoxHead Element Tags
						each tag in tags
							label 
								input(type='checkbox', class='checkBox', id='tag_'+tag.elementTagId)
								label(class='checkBoxLabel') #{tag.elementTag}
					div(class='submitFilters')
						button(id='submitFilters') Update

	.rightAlign
		.titleHead
			h4 Exhibit Metrics
		#exhibitTable
			table(id='dynamicElementsTable')
				if dataType == 'exhibit'
						thead
							tr
								td Exhibit Name
								td(class='metrics') Views
								td(class='metrics') Likes
								td(class='metrics') Favourites

						tbody
							each exhibit in exhibits
									tr(id=exhibit.exhibitId)
										td #{exhibit.exhibitName}
										if(exhibit.views)
											td #{exhibit.views}
										else
											td 0
										if(exhibit.likes)
											td #{exhibit.likes}
										else
											td 0
										if(exhibit.favourites)
											td #{exhibit.favourites}
										else
											td 0


				if dataType == 'element'
					thead
						tr
							td Exhibit Name
							td(class='metrics') Views
							td(class='metrics') Likes
							td(class='metrics') Favourites
							td(class='metrics') Holding Power Index
							td(class='metrics') Avg Stopping Time
							td(class='metrics') Min Stopping Time
							td(class='metrics') Max Stopping Time
							td(class='metrics') Std.

					tbody
						each element in elements
							if(element.views)
								tr
									td(id='exhibitTitle') #{element.elementName}
									if(element.views)
										td #{element.views}
									else
										td 0
									if(element.likes)
										td #{element.likes}
									else
										td 0
									if(element.favourites)
										td #{element.favourites}
									else
										td 0
									if(element.holdingPwr)
										td #{element.holdingPwr}
									else
										td 0
									if(element.avgDuration)
										td #{element.avgDuration}
									else
										td 0
									if element.minDuration
										td #{element.minDuration}
									else
										td 0
									if element.maxDuration
										td #{element.maxDuration}
									else
										td 0
									if element.stdDuration
										td #{element.stdDuration}
									else
										td 0

	.chartContainer
		.titleHead
			h4 Exhibit Metrics
		div#myPieChart
