table(id='dynamicElementsTable')
	if dataType == 'exhibit'
			thead
				tr
					td Exhibit Name
					td(class='metrics') Views
					td(class='metrics') Likes
					td(class='metrics') Favourites

			tbody
				each exhibit in exhibits
						tr(id=exhibit.exhibitId)
							td #{exhibit.exhibitName}
							if(exhibit.views)
								td #{exhibit.views}
							else
								td 0
							if(exhibit.likes)
								td #{exhibit.likes}
							else
								td 0
							if(exhibit.favourites)
								td #{exhibit.favourites}
							else
								td 0


	if dataType == 'element'
		thead
			tr
				td Element Name
				td(class='metrics') Views
				td(class='metrics') Likes
				td(class='metrics') Favourites
				td(class='metrics') Holding Power Index
				td(class='metrics') Avg Stopping Time
				td(class='metrics') Min Stopping Time
				td(class='metrics') Max Stopping Time
				td(class='metrics') Std.

		tbody
			each element in elements
				if(element.views)
					tr
						td(id='exhibitTitle') #{element.elementName}
						if(element.views)
							td #{element.views}
						else
							td 0
						if(element.likes)
							td #{element.likes}
						else
							td 0
						if(element.favourites)
							td #{element.favourites}
						else
							td 0
						if(element.holdingPwr)
							td #{element.holdingPwr}
						else
							td 0
						if(element.avgDuration)
							td #{element.avgDuration}
						else
							td 0
						if element.minDuration
							td #{element.minDuration}
						else
							td 0
						if element.maxDuration
							td #{element.maxDuration}
						else
							td 0
						if element.stdDuration
							td #{element.stdDuration}
						else
							td 0