-var count =0;
table(id='dynamicElementsTable')
	if dataType == 'exhibit'
			thead
				tr
					td Exhibit Name
					td(class='metrics') Views
					td(class='metrics') Likes
					td(class='metrics') Favourites

			tbody
				each exhibit in exhibits
					if(exhibit.views)
						tr(id=exhibit.exhibitId)
							td #{exhibit.exhibitName}
							td #{exhibit.views}
							td #{exhibit.likes}
							td #{exhibit.favourites}
						-count++;
				if(count<=0)
					p  No data within this timeframe. Select a new time frame

	if dataType == 'element'
		thead
			tr
				td Exhibit Name
				td(class='metrics') Views
				td(class='metrics') Likes
				td(class='metrics') Favourites
				td(class='metrics') Holding Power Index
				td(class='metrics') Avg Stopping Time
				td(class='metrics') Min Stopping Time
				td(class='metrics') Max Stopping Time
				td(class='metrics') Std.

		tbody
			each element in elements
				if(element.views)
					tr
						td(id='exhibitTitle') #{element.elementName}
						td #{element.views}
						td #{element.likes}
						td #{element.favourites}
						td #{element.holdingPwr}
						td #{element.avgDuration}
						td #{element.minDuration}
						td #{element.maxDuration}
						td #{element.stdDuration}
					-count++;
				if(count<=0)
					p  No data within this timeframe. Select a new time frame	