.alignSearch
	.dateRange
		input(type='text', class='datePicker', id='date_1')
		p to
		input(type='text', class='datePicker', id='date_2')
	.alignBarRight
		.searchBar
			input(id='searchBar', placeholder='Search Exhibits')
.alignFilters
	.horizAlign
		.left-align
			.titleHead
				h4 Filters
			.filters
				div(class='.btn-group-vertical')
					div(class='dropdown .btn-group-verticalp')
						button(class='btn btn-default dropdown-toggle ', type="button", data-toggle="dropdown", id='time') Time
						ul(class='dropdown-menu time')
							li
								a(href='#') Days of the Week
							li
								a(href='#') Months
					div(class='dropdown .btn-group-vertical')
						button(class='btn btn-default dropdown-toggle ', type="button", data-toggle="dropdown", id='gender') Gender
						ul(class='dropdown-menu gender')
							each gen in gender
								li
									a(href='#') #{gen.genderDesc}
					div(class='dropdown .btn-group-vertical')
						button(class='btn btn-default dropdown-toggle ', type="button", data-toggle="dropdown", id='age') Age Range
						ul(class='dropdown-menu age')
							each age in ageRange
								li
									a(href='#') #{age.ageRangeDesc}

	.rightAlign
		.titleHead
			h4 Exhibit Metrics
		.exhibitTable
			table(id='dynamicElementsTable')
				if dataType == 'exhibit'
					thead
						tr
							td Exhibit Name
							td(class='metrics') Views
							td(class='metrics') Likes
							td(class='metrics') Favourites

					tbody
						each exhibit in exhibits
							tr
								td
									button(class='list-group-item museum', type="button", value=exhibit.exhibitId) #{exhibit.exhibitName}
								td #{exhibit.views}
								td #{exhibit.likes}
								td #{exhibit.favourites}

				if dataType == 'element'
					thead
						tr
							td Exhibit Name
							td(class='metrics') Views
							td(class='metrics') Likes
							td(class='metrics') Favourites
							td(class='metrics') Holding Power Index

					tbody
						each element in elements
							tr
								td(id='exhibitTitle') #{element.elementName}
								td #{element.views}
								td #{element.likes}
								td #{element.favourites}
								td #{element.holdingPwr}

.chartContainer
	.titleHead
		h4 Exhibit Metrics
	div#myPieChart
